*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    
}
.downloadbtn{
    border: none;
    background: red;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    transition: .5s;

}
.downloadbtn:hover{
    background-color: black;
    color: white;
}